.container {
  text-align: center;
  justify-content: center;
  height: 100%;
}
.navBar{
  display: flex;
  max-width: 2000px; 
  width: 100%;
  height: 40px;
  background-color: #95a5a6;
}
.bodyContainer{
  justify-content: center;
  width: 95%;
  height: 46vh;
  background-color:#ecf0f1;
  text-align: center;
  display: flex;
  flex: 1;
  margin-left: 2.3%;
}
.textContainer{
  flex-direction: column;
  display: flex;
  flex: 1;  
  text-align: center;
}
.iconButton{
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.iconButtonBack {
  width: 25px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.jobsContainer{
  justify-content: center;
  display: flex;
  background-color: rebeccapurple;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  box-shadow: #000;
}
.textDecor{
  color: #f2f2f2;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0.5%;
  padding-left: 95%;
  position: fixed;
  font-size: 15px;
}
.text{
  font-weight: bold;
  font-size: 14px;
  margin-right: 70%;
  margin-top: 7px;
}
.textTittle{
  font-weight: bold;
  margin-right: 70%;
}
.textInfo{
  margin-right: 70%;
  text-decoration: none;
  color: #000;
}
.requisitesContainer{
  margin-top: 7px;
  margin-right: 5%;
  flex-direction: column;
  display: flex;

} .requisitesContainer text{
  font-weight: bold;
}
.requisitesButton{
  background-color: #e74c3c;
  outline: none;
  border: none;
  color: #f2f2f2;
  border-radius: 8px;
  width: 40vw;
  height: 35px;
  cursor: pointer;
  font-size: 10px;

}
.separation{
  padding-top: 4%;
}
.candidatura{
  margin-top: 15px;
}
.footer{
  margin-top: 19%;
  height: 70px;
  background-color: #95a5a6;
}